<h1>Test file with left side list, right side scrollable horizontal list</h1>

<nav style="display: inline-block;">
  <ol>
    <li><a href="" class="item">1</a></li>
    <li><a href="" class="item">2</a></li>
  </ol>
</nav>

<section class="panel">
  <div style="width:800px" class="carousel-container">
    <div class="carousel" id="carousel-1">
      <ul class="scroll">
        <li class="scroll-item"><a href="" class="item">1</a></li>
        <li class="scroll-item"><a href="" class="item">2</a></li>
        <li class="scroll-item"><a href="" class="item">3</a></li>
        <li class="scroll-item"><a href="" class="item">4</a></li>
        <li class="scroll-item"><a href="" class="item">5</a></li>
        <li class="scroll-item"><a href="" class="item">6</a></li>
        <li class="scroll-item"><a href="" class="item">7</a></li>
        <li class="scroll-item"><a href="" class="item">8</a></li>
      </ul>
    </div>
  </div>

  <div style="width:800px" class="carousel-container">
    <div class="carousel" id="carousel-2">
      <ul class="scroll">
        <li class="scroll-item"><a href="" class="item">A</a></li>
        <li class="scroll-item"><a href="" class="item">B</a></li>
        <li class="scroll-item"><a href="" class="item">C</a></li>
        <li class="scroll-item"><a href="" class="item">D</a></li>
        <li class="scroll-item"><a href="" class="item">E</a></li>
        <li class="scroll-item"><a href="" class="item">F</a></li>
      </ul>
    </div>
  </div>
</section>